@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  /* min-height: 100vh; */
  font-family: 'Roboto';
  /* display: flex; */
}

.first-area {
  background-color: #1F2937;
  padding: 20px 400px;
}

.header-logo {
  font-weight: 700;
  font-size: 24px;
}

.header {
  color: #F9FAF8;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.first-subarea {
  display: flex;
  justify-content: space-between;
  color: #F9FAF8;
  margin-bottom: 100px;
}

.first-subarea-content {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.first-title {
  font-size: 48px;
  font-weight: 700;
}

.first-subtext {
  margin-top: 8px;
  font-size: 18px;
  color: #e5e7eb;
}

.first-button {
  border: none;
}

button {
  border-radius: 8px;
  background: #3882F6;
  color: #F9FAF8;
  padding: 8px 32px;
}

.image {
  display: flex;
  align-items: center;
  background: gray;
  padding: 100px 150px;
}

.second-area {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0 100px 0;
}

.second-title {
  font-weight: bold;
  font-size: 36px;
  color: #1F2937;
  margin-bottom: 50px;
}

.more-box-text {
  display: flex;
  gap: 50px;
}

.mini-box {
  border: 5px solid #3882F6;
  padding: 90px 80px;
  border-radius: 16px;
  margin-bottom: 10px;
}

.mini-box-text {
  width: 200px;
}

.subtext-mini-box {
  text-align: center;
}

.third-area {
  background: #e5e7eb;
  padding: 100px;
  font-style: italic;
  font-size: 36px;
  display: flex;
  justify-content: center;
}

.quote-and-author {
  display: flex;
  flex-direction: column;
  max-width: 950px;
}

.quote-author {
  align-self: flex-end;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}



.footer {
  color: #e5e7eb;
  background: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 18px;
}